body {
    background-color: #0f0f0f;
    color: white;
    overflow-x: hidden;
}
.header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    height: 56px;
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}
.menu-icon:hover {
    background-color: #272727;
}
.logo {
    height: 25px;
}
.header-center {
    display: flex;
    align-items: center;
    flex: 1 1 500px;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.search-bar input {
    width: 50%;
    background-color: #0f0f0f;
    border: 1px solid #303030;
    border-right: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    outline: none;
}
.search-btn {
    background-color: #222;
    border: 1px #303030 ;
    color: white;
    padding: 6px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #272727;
}
.mic-icon {
    background-color: #181818;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic-icon:hover {
    background-color: #272727;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
}

.header-right i {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.header-right i:hover {
    background-color: #272727;
}
.utilisateur{
    width: 32px;
    height: 32px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-left: 8px;
}
.main {
    display: flex;
    margin-top: 56px;
}




.thumbnail-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: #333;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;
    
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}

.video-card:hover .thumbnail {
    border-radius: 0;
    transform: scale(1.02); /*hedha zoom*/
    border-radius: 12px;
}
.duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}
.contenu {
    position: relative;
    background-color:#0f0f0f ;
    padding: 24px;
    width: 100%;
    display:flex;
    height: 100%;
    gap: 16px;
    row-gap: 40px;
    margin-left:75px;
    padding: 1px 16px;
    height: 1000px;
}
.sidebar {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100px;
  color: white;
  background-color: #0f0f0f;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}
.sidebar a {
    display: block; 
    padding: 25px;
    text-decoration: none;
}
.sidebar a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.sidebar a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
  background-color: #272727;
  border-radius: 100%;
  text-decoration: none;
  width: fit-content;
}
.stretch{
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}
.video-card{
    cursor: pointer;
    box-sizing: border-box;
    flex: 1 1 calc(33.3333% - 20px);
    min-height: 100px;
    flex-grow: 1;
    align-self:stretch;
}

.video-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    height:max-content;
    gap: 20px;
    /*grid-template-columns: repeat(3, minmax(400px, 1fr));*/
}
.video-info {
    width: 100%;
}
.video-details{
    
    min-width: 0; 
    font-family: 'Roboto', sans-serif;
}
.video-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
    overflow: hidden;
    color: white;
    cursor: pointer;

}
.channel-icon{
     width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
}
.channel-name {
    margin-bottom: 2px;
}

.channel-name:hover {
    width: 15%;
    cursor: pointer;
}
.channel-row{
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
.channel-name,
.video-stats {
    font-size: 14px;
    color: #aaa;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}